body {
    background-color: #bb2528;
}

#header1 {
    font-family: "Arial";
    color: white;
}

#par1 {
    font-family: "Arial";
    color: white;
    font-size: 60px;
}

mark {
    background-color: #f8b229;
}
